/*css resets */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Sans-serif;
}

main{
  width: 100%;

}

/************************************ nav section */

.rowHeader{
  background: #ba0018;
  width: 100%;
  height: auto;
  /* position: sticky;
  top: 0; */
}

.kitkat-logo{
  width: 110px;
  padding-left:20px;
}

.colNav{
  position: absolute;
  width: 756px;
  height: auto;
  left: 575px;
  top: 40px;
}

.navLink{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Sans-serif;
}

.navList{
  list-style: none;
  display: inline;
  font-weight: bold;
  margin: 6%;
  color: #ffffff;
  width: 30px;
}

/* ------------------------------------banner style----------------- */
.banner-section{
  width: 100%;
  height: 500px;
  overflow: auto;
}

.banner{
  width:100%;
  height: auto;
  max-height: 500px;
  margin: auto;
  display:block;
  z-index : -1;
  position : absolute;
  top : 100px;
}

.bannerText1{
  color :#ffffff;
  font-size: 30px;
  text-align: right;
  margin-top: 10%;
  margin-right: 12%;
}

/********************************************* recipe section */

.colImage{
  width: 50%;
  height: auto;
  float: left;
}

.recipe{
  width: 70%;
  height:auto;
  margin-left: 20%;
  margin-top: 1%;
}

.ingradientsList{
  padding:5%;
  margin-left: 30px;
}

.list{
  line-height: 30px;
}

.instruction-list{
  padding: 3% 0 3% 30%;
  width: 100%;
  overflow: auto;
}

.instruction {
  font-weight: bold;
  margin: 1%;
}

/************************************************** chocolate section */


.titleName{
  background: #ba0018;
  color:whitesmoke;
  margin: auto;
  text-align: center;
  padding: 20px 20px;
  overflow: auto;
}

.chocolates{
  width: 30%;
  height:auto;
  margin: auto;
  display: block;
  padding-top: 2%;
}

.nameChocolate{
  background: black;
  color:whitesmoke;
  margin-bottom: 30px;
}

.priceChocolate{
  color: #A66B49;
  line-height: 25px;
}

.description{
  font-size: 18px;
  line-height: 25px;
  width: 60%;
}

/******************************************* contac */


.contactFrom{
  width: 100%;
  text-align: center;
}

.formHeading{
  color: #A66B49;
}

.submit{
  background: #ba0018;
  color: white;
  width: 80px;
  height: 40px;
  font-weight: bold;
}

footer{
  width: 100%;
  height: auto;
  background: #ba0018;
  color:whitesmoke;
  text-align: center;
  padding: 1%;
  }

.socialLinks {
  text-align: center;
  font-size: 50px;
  margin-left: 25px;
  margin-right:25px;
  color: white;
}

.social {

}

/******************* rows and col */

.clearfix::after{
  clear:both;
  display: table;
  content:"";
}

.row{
  width: 100%;
  height: auto;
  min-height: 100px;
  border: 3px solid #ba0018;
}

.col{
  float:left;
  // border: 1px solid yellow;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
