/*css resets */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
body{
  /* background-color: #ba0018; */
  font-family: Sans-serif;
}

main{
  width: 80%;
  margin: 5% auto; /*for centering*/
}

header{
  background: #ba0018;
  width: 100%;
  height: 150px;
  /* border: 1px solid red; */
  position: sticky;
  top: 0;
}

h1{
  color : #ba0018;
  margin: 25px 30px 0px 30px;
  /* margin-top: 30px; */
  /* margin-left: 30px;
  padding-top: 30px; */
}

h2{
  font-weight: 700;
  font-size: 40px;
  margin: 15px 0;
  text-transform: uppercase;
  display: block;
  }

section{
  width: 100%;
}

/************************************ header section */

.colLogo{
  width:30%;
  height: 100px;
  /* border: 1px solid blue; */
  float:left;
  padding-top: 20px;
  padding-left:20px;
}

.kitkat-logo{
  width: 100px;
}

/******************************************* Nav */

.colNav{
  width: 60%;
  height: 30px;
  float: left;
  margin-top: 70px;
  }

.nav{
    height: 20px;
  }

.navLink{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Sans-serif;
}


/* ------------------------------------banner style----------------- */

.navList{
  list-style: none; /*remove bullets*/
  display: inline;
  margin: 6%;
  color: #ffffff;
  width: 30px;
  }

.banner{
  width:80%;
  height: auto;
  max-height: 500px;/*restricting the height not to exceed the limit*/
  margin: auto;/*to center*/
  display:block;/*to change inline element to block type*/
  z-index : -1;/*send backward*/
  position : absolute;
  top : 200px;
}
.bannerText1{
  color :#ffffff;
  font-size: 40px;
  text-align: right;
  margin-top: 10%;
  margin-right: 10%;

}
.bannerDiv{
  /* border : 2px solid blue; */
  height:400px;
  width:100%;
}

/********************************************* recipe section */

.rowRecipe{
  width: 100%;
}

.colImage{
  width: 40%;
  height: auto;
  background: gray;
  float: left;
}

.colText{
  width: 60%;
  height: auto;
  background: gray;
  float: left;
}


.recipe{
  width: 40%;
  height:auto;
  margin-left: 30px;
}

.recipe:hover{
  border : 3px solid #ba0018;
  padding: 10px;
}

#introPara{
  margin: 25px 30px;
  line-height: 30px;
  width: 60%;
}

.ingredients{
  color:#A66B49;
  margin-bottom: 30px;
}

.ingradientsList{
  padding: 10px;
  border : 2px solid #fed021;
  margin-left: 30px;
  width: 60%;
}

.list{
  list-style: none;
  line-height: 30px;
}

/************************************************** chocolate section */

/* to make rows and columns use float and clear */

h1, .titleName{
  background: #ba0018;
  color:whitesmoke;
  /* margin-bottom: 30px; */
  margin: auto;
  margin-top: 2%;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.row{
  width: 100%;
  height: 600px;
  }

.col{
  width: 50%;
  height: 600px;
  float:left;
  padding: 30px;
  /* background: cyan; */
  border: 2px solid red;
}


/* floats are cleared after the row */
.row:after{
  clear:both;
  display:table;
  content:"";
}

.chocolates{
  width: 60%;
  height:auto;
  max-height: 300px;
}

.nameChocolate{
  background: black;
  color:whitesmoke;
  margin-bottom: 30px;
}

.priceChocolate{
  color: #A66B49;
  line-height: 25px;
}

.description{
  font-size: 18px;
  line-height: 25px;
  width: 60%;
}

/******************************************* contac */


.contactFrom{
  /* background-color: gray; */
  width: 50%;
  padding: 30px 0;
}

.textarea{
  /* margin-top: 50px; */
}

.formHeading{
  color: #A66B49;
}

.submit{
  background: #A66B49;
  color: white;
  width: 80px;
  height: 40px;
  font-weight: bold;
}

footer{
  width: 300px;
  margin: auto;   para centrar
  /* border: 1px line green; */
}

.socialLinks {
  width: 300px;
  /* border: 1px solid red; */
}

.social {
  margin-left: 25px;
  margin-right:25px;
}
